[submodule "roles/ansible-role-nodejs"]
	path = roles/ansible-role-nodejs
	url = https://github.com/geerlingguy/ansible-role-nodejs.git
	branch = master
[submodule "roles/ansible-role-mongodb"]
	path = roles/ansible-role-mongodb
	url = https://github.com/UnderGreen/ansible-role-mongodb.git
	branch = master
[submodule "roles/ansible-role-pip"]
	path = roles/ansible-role-pip
	url = https://github.com/geerlingguy/ansible-role-pip.git
	branch = master
[submodule "roles/ansible-role-nginx"]
	path = roles/ansible-role-nginx
	url = https://github.com/geerlingguy/ansible-role-nginx.git
	branch = master
[submodule "roles/ansible-role-mysql"]
	path = roles/ansible-role-mysql
	url = https://github.com/geerlingguy/ansible-role-mysql.git
	branch = master
[submodule "roles/postgresql"]
	path = roles/postgresql
	url = https://github.com/ANXS/postgresql.git
	branch = master
